@font-face {
	font-family: 'icomoon';
	src:  url('../fonts/icomoon.eot?579bb0');
	src:  url('../fonts/icomoon.eot?579bb0#iefix') format('embedded-opentype'),
	  url('../fonts/icomoon.ttf?579bb0') format('truetype'),
	  url('../fonts/icomoon.woff?579bb0') format('woff'),
	  url('../fonts/icomoon.svg?579bb0#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: never;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
  
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  }
  
  .icon-git:before {
	content: "\e900";
  }
  .icon-insta:before {
	content: "\e901";
  }
  .icon-twitter:before {
	content: "\e902";
  }
  

body {
	margin: 0;
	padding: 0;
	background-color: var(--main-color);
	font-family: 'Roboto', sans-serif;
}

h1 {
	margin: 0;
}

p {
	margin: 0;
}

a {
	margin: 0;
	text-decoration: none;
	color: var(--color-font);
}

.header {
	width: 100%;
	height: 100px;
	display: flex;
	justify-content: space-between;
	align-content: center;
	color: var(--color-font);
}

.header__icon {
	width: auto;
	display: flex;
	align-items: center;
	margin-left: var(--margin-header);
}

.header__icon--logo {
	width: var(--icon-size);
    height: var(--icon-size);
    line-height: var(--icon-size);
    font-size: 30px;
    color: var(--main-color);
	background-color: var(--icon-background-color);
    text-align: center;
	font-family: var(--icon-font-family);
	font-weight: 700;
	letter-spacing: 1px;
}

.header__icon--lm {
	font-weight: 500;
	margin-left: 10px;
}

.header__menu {
	/* outline: 2px red solid; */
	display: flex;
	align-items: center;
	margin-right: var(--margin-header);
}

.header__menu ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.header__menu li {
	display: inline-block;
}

.header__menu li > a {
	margin-left: var(--margin-header);
	cursor: pointer;
}

.header__menu li > a:hover {
	text-decoration: underline;
	color: var(--color-font-hover);
}

.hero {
	width: 100%;
	height: calc(100vh - 200px);
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	position: relative;
}

.hero__img {
	object-fit: cover;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
}

.hero__details {
	width: 100%;
	height: 100%;
	/* background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 90%, var(--secondary-color) 100%); */
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: var(--main-color);
}

.hero__details--profile {
	/* outline: 2px white solid; */
	width: 160px;
	height: 160px;
	border-radius: 50%;
	overflow: hidden;
	position: relative;
	margin-bottom: 20px;
}

.hero__details--profile img {
	width: 170%;
	object-position: -60px -100px;
}

.hero__details--name {
	font-size: var(--title-size);
	margin-bottom: 5px;
}

.hero__details--secundary-text {
	font-size: var(--text-size);
}

.hero__details--social-media {
	width: 200px;
	/* outline: 2px white solid; */
	margin-top: 20px;
	display: flex;
	justify-content: space-evenly;
	font-size: 30px;
	transition: 420ms;
}

.hero__details--social-media > i:hover {
	cursor: pointer;
}

.icon-twitter:hover {
	color: var(--twitter-color);
}

.icon-git:hover {
	color: var(--git-color);
}

.icon-insta:hover {
	color: var(--insta-color);
}

.footer {
	width: 100%;
	height: 100px;
	background-color: var(--secondary-color);
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: var(--main-color);
	font-weight: 300;
	font-size: 14px;
}

.footer__cr {
	margin-left: var(--margin-footer);
}

.footer__designed {
	margin-right: var(--margin-footer);
}

.footer a {
	color: var(--main-color);
}

.footer a:hover {
	text-decoration: underline;
	color: #48cae4;
}


:root {
	--main-color: #e9ecef;
	--secondary-color: #040f16;
	--title-size: 40px;
	--text-size: 18px;
	--twitter-color: #00acee;
	--git-color: orange;
	--insta-color: #C850C0;
	--icon-size: 50px;
	--icon-font-family: 'Raleway', sans-serif;
	--icon-background-color: #040f16;
	--color-font: #212529;
	--color-font-hover: #464747;
	--margin-header: 100px;
	--margin-footer: 100px;
}